html,
body {
  height: 100%;
}

html {
  font-size: $baseFontSize + px;
}

.wrapper {  
  width: 100%; // min-width: rem(940px) + rem(20px);
  height: 100%;
  overflow: hidden;
}

.maincontent {
  position: relative;
  height: 100%;
  transition: transform 1s;
  will-change: transform;
}

body {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: $ffUbuntu;
  font-size: 1rem;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 0.07rem;
  height: 0.07rem;
  margin: -0.07rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

ul,
picture,
p {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
}

input, textarea, button, input + label {
  cursor: pointer;
}

input:focus,
textarea:focus,
button:focus {
  outline: 0;
  box-shadow: 0 0 0 0.14rem $colorOrange;
  border: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.section {
  // height: 100vh;
  // min-height: rem(650);
  height: 100%;
	min-height: rem(650px);
	position: relative;
  display: flex;
  overflow: hidden;

}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: rem(1100);
  width: 85.3%;
  height: 100%;
  justify-content: space-between;
  @include adaptive(tablet){
    max-width: rem(768);
    width: 94.1%;
  }
  @include adaptive(smart){
    min-width: rem(320);
    max-width: rem(480);
    width: 95.8%;
  }
}

.container--row {
  flex-direction: row;
}

.container--center {
  justify-content: center;
}

.container--max {
  width: 100%;
  max-width: 100%;
}
.overlay {
  &::before {
    content: '';
    position: absolute;
    z-index: 4;
    height: 100%;
    width: 100%;
    background-color: $rwBtnBgColor;
    opacity: 0.9;
    @include adaptive(tablet) {
      opacity: 1;
    }
  
  }
  
}
.error {
  position: relative;
  top: 1rem;
  background-color: wheat;
  color: red;
  font-weight: bold;
  width: 90%;
  display: block;
  text-align: center;
  border-radius: 5px;
}