//Шрифты
@mixin gagalin() {
  font-family: 'Gagalin', Helvetica, sans-serif;
}

@mixin lifehack() {
  font-family: 'Lifehack', Helvetica, sans-serif;
}

@mixin ubuntu($style: light) {
  font-family: 'Ubuntu', Helvetica, sans-serif;

  @if $style==light {
    font-weight: 300;
  }

  @if $style==medium {
    font-weight: 500;
  }

  @if $style==bold {
    font-weight: bold;
  }
}
//Адаптив
@mixin adaptive($media) {

  @if $media == smart {
    @media only screen  and (max-width: 480px) {@content}
  }
  @else if $media == tablet {
    @media only screen and (max-width: 768px) {@content}
  }
}

//конвертация шрифтов

@function rem($pixels, $context: $baseFontSize) {

  @if (unitless($pixels)) { $pixels: $pixels * 1px; }

  @if (unitless($context)) {
    $context: $context * 1px; }

 @return $pixels / $context * 1rem;
}

@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin flex-card {
  display: flex;
  flex-flow: row wrap;
}