$bgBtnColor: #e45028;
$colorOrange:#f9b43b;
$colorTitleDarken: #2f3234;
$bgHeaderColor: #010101;
$colorWhite: #ffffff;
$colorBlack: #000000;
$colorFooter-bg: #111111;
$ffUbuntu: 'Ubuntu', 'Arial', sans-serif;
$baseFontSize: 14;
$rwBtnBgColor: #2f3234;
$rwBtnBgColorHv: #1f2122;
$colorDarkenOrange:#f08c33;