.btn {
  @include ubuntu(medium);
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #e45028;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.94rem;
  display: inline-block;
  text-decoration: none;
}