.delivery {
  background: $colorBlack url('/img/delivery-bg.jpg') no-repeat center center;
  background-size: cover;
  .section-title {
    text-align: center;
    // padding-bottom: 2.5rem;
    line-height: 2;
    padding: 4.42rem 0 0.5rem 0;
  }
}
.delivery__form {
  display: flex;
  justify-content: space-between;
}