.main-nav {
  width: 76%;
  &__list {
    @include flex();
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: 38px;
  }
  &__item {
    position: relative;
    padding: 0 16px 0 21px;
    &:first-child {
      padding-left: 0;
      margin-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    &:not(:first-child)::before {
      content: '';
      position: absolute;
      top: 7px;
      left: 1px;
      width: 4px;
      height: 4px;
      background-color: #ffffff;
      border-radius: 50%;
    }
  }
  &__link {
    text-align: center;
    font-size: 0.9rem;
    // letter-spacing: 0;
    text-transform: uppercase;
    font-weight: $fwMedium;
  &:hover {
    cursor: pointer;
    }
  }
}
