.reviews {
  &__list {
    @include flex-card();
  }
  &__item {
    position: relative;
    width: 25%;
    height: 325px;
    overflow: hidden;
    transition: 1s;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000000;
      opacity: 0.7;
      z-index: 1;
    }

    &-image-wrap {
      overflow: hidden;
    }

    &-image {
      filter: grayscale(1);
    }

    &-wrap {
      display: none;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      padding: 20px;
      z-index: 10;
    }

    .section-title {
      font-size: 1rem;
      line-height: 2rem;
      letter-spacing: 0;
      padding: 6px 0 14px 0;
      transition: 1s;
    }

    &-text {
      line-height: 1.75rem;
      color: #ffffff;
      padding-bottom: 1rem;
      font-weight: 300;
    }

    &-btn {
      @include button();
      background-color: $rwBtnBgColor;
      color: #ffffff;
      padding: 10px 14px;
      border: none;
      transition: 1s;
      &:hover {
        background-color: $rwBtnBgColorHv;
        cursor: pointer;
      }
    }
  }
}
.reviews__item:hover {
  .reviews__item-wrap {
    display: block;
    cursor: pointer; 
  }
}