//Шрифты
@mixin gagalin() {
	font-family: 'Gagalin', Helvetica, sans-serif;
}
@mixin lifehack() {
	font-family: 'Lifehack-Medium', Helvetica, sans-serif;
}
@mixin ubuntu($style: light) {
	font-family: 'Ubuntu', Helvetica, sans-serif;

	@if $style == light {
		font-weight: 300;
	}

	@if $style == medium {
		font-weight: 500;
	}

	@if $style == bold {
		font-weight: bold;
	}
}
// 

@mixin flex {
  display: flex;
  justify-content: space-between;
}


@mixin flex-card {
  display: flex;
  flex-flow: row wrap;
}

