$bgBtnColor: #e45028;
$colorOrange:#f9b43b;
$colorTitleDarken: #2f3234;
$bgHeaderColor: #010101;
$colorWhite: #ffffff;
$colorBlack: #000000;
$ffUbuntu: 'Ubuntu', 'Arial', sans-serif;
$ffGagalin: 'Gagalin', 'Arial', sans-serif;
$ffLifehack: 'Lifehack', 'Arial', sans-serif;
$rwBtnBgColor: #2f3234;
$rwBtnBgColorHv: #1f2122;
$fwMedium: 500;