.btn {
  @include ubuntu(medium);
  padding: rem(12) rem(15);
  border-radius: rem(5);
  background-color: $bgBtnColor;
  text-transform: uppercase;
  color: $colorWhite;
  font-size: rem(13);
  display: inline-block;
  text-decoration: none;
  border: none;
  transition: background-color 500ms;

  &:hover {
    background-color: $bgBtnColorHvr;
  }

}