.employee {
  color: $colorWhite;

  .employee__name::before {
    opacity: 1;
  }

  .employee__name::after {
    opacity: 0;
  }
}

.employee__name {
  position: relative;
  @include gagalin();
  letter-spacing: 0;
  text-transform: uppercase;
  font-size: 1rem;
  padding-left: 1.2rem;
  cursor: pointer;

  @include adaptive(tablet) {
    font-size: rem(24);
    padding-left: rem(20);
    line-height: 0.5;
  }


  &::before {
    content: '';
    position: absolute;
    left: -1px;
    top: 6px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 7px solid #f9b43b;

    @include adaptive(tablet) {
      left: 27.5%;
      top: 2px;
    }

    @include adaptive(smart) {
      left: 14%;
      top: 3px;
    }
  }

  &::after {
    content: '';
    position: absolute;
    left: -1px;
    top: 6px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 7px solid $colorOrange;

    @include adaptive(tablet) {
      left: 29%;
      top: 0;
    }

    @include adaptive(smart) {
      left: 14%;
    }
  }
}

.employee__desc {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  height: 0;
  overflow: hidden;

  @include adaptive(tablet) {
    flex-direction: column;

  }
}

.employee__avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0.3rem 0 0 1rem;
}

.employee__image {
  object-fit: cover;
  height: 100%;
}

.employee__position-wrap {
  width: 61.5%;
  padding-top: 4px;

  @include adaptive(tablet) {
    width: 74.5%;
    padding-top: rem(13);
    padding-bottom: rem(7);
  }

  @include adaptive(smart) {
    width: 85.5%;
  }
}

.employee__position {
  @include ubuntu(bold);
  padding-bottom: 1rem;
}

.employee__slogan {
  @include ubuntu(light);
  line-height: 1.8rem;
}

.employee.open {

  .employee__name {
    color: $colorOrange;
    @include adaptive(smart) {      
      line-height: 1.2;
      padding-left: 11%;
    }
  }

  .employee__name::before {
    opacity: 0;
  }

  .employee__name::after {
    opacity: 1;
  }

  .employee__desc {
    height: 100%;
    padding-bottom: 1.2rem;

    @include adaptive(tablet) {
      align-items: center;
      padding-bottom: 0.7rem;
    }
  }
}