.main-nav {
  max-width: 77%;
  flex: 1;
}

.main-nav__list {
  @include flex();
  flex-wrap: wrap;
  overflow: hidden;
  margin-left: rem(49);
  font-size: rem(13);

  @include adaptive(tablet) {
    height: 0;
    width: 0;
    overflow: hidden;
  }

  @include adaptive(smart) {}
}

.main-nav__item {
  position: relative;

  &:first-child {
    padding-left: 0;
    margin-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }

  &:not(:first-child)::before {
    content: '';
    position: absolute;
    top: 35%;
    left: rem(-20);
    width: rem(4);
    height: rem(4);
    background-color: #ffffff;
    border-radius: 50%;
  }
}

.main-nav__link {
  @include ubuntu(medium);
  text-align: center;
  font-size: inherit;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }
}

.main-nav__toogle {
  display: none;

  @include adaptive(tablet) {
    position: absolute;
    font-size: 0;
    display: block;
    top: rem(34);
    right: 2%;
    height: rem(24);
    width: rem(25);
    border: none;
    background: transparent;
    z-index: 1;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: rem(5);
      border-radius: rem(3);
      box-shadow: 0 rem(10) 0 0 $colorWhite, 0 rem(19) 0 0 $colorWhite;
      background-color: $colorWhite;
    }
  }
}


.main-nav__open {
  .main-nav__list {
    @include adaptive(tablet) {
      position: fixed;
      z-index: 5;
      flex-direction: column;
      justify-content: space-between;
      flex-wrap: nowrap;
      align-items: center;
      height: 57%;
      width: 100%;
      top: 30%;
      left: 0;
      margin: 0;
      font-size: rem(24);
    }
  }

  .main-nav__item {
    @include adaptive(tablet) {
      &:not(:first-child)::before {
        content: '';
        position: absolute;
        top: rem(-30);
        left: 47.5%;
        width: rem(6);
        height: rem(6);
        background-color: #ffffff;
        border-radius: 50%;
      }
    }
  }

  .main-nav__link {
    @include adaptive(tablet) {
      font-size: inherit;
      font-family: $ffUbuntu;
      letter-spacing: 0;
      font-weight: normal;
    }
  }

  .main-nav__toogle {
    @include adaptive(tablet) {
      position: absolute;
      display: block;
      font-size: 0;
      top: rem(30);
      right: rem(8);
      height: rem(24);
      width: rem(25);
      border: none;
      background: transparent;
      z-index: 5;
      cursor: pointer;

      &::before,
      &::after {
        content: '';
        position: absolute;
        top: rem(9);
        left: 0;
        width: 100%;
        height: rem(5);
        border-radius: rem(3);
        background-color: $colorWhite;
        box-shadow: none;
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }
  }
}