.menu {
  position: relative;
  background: url('../img/menu-bg.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  overflow: hidden;

  @include adaptive(tablet) {
    background-position-x: rem(-375);
  }

  .section-title {
    padding: 9.4% 0 0 8.8%;

    @include adaptive(tablet) {
      padding: 14% 0 0 3%;
    }

    @include adaptive(smart) {
      font-size: rem(48);
      padding: 11.5% 0 0 13%;
    }
  }
}

.menu__list {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;

  @include adaptive(tablet) {
  }
  @include adaptive(smart) {

  }
}

.menu__item {
  height: 100%;
  display: inherit;
  // width: rem(80);
  width: 7.2vw;
  @include adaptive(tablet) {
    width: 10.5vw;
  }
  @include adaptive(smart) {
    width: rem(50);
  }
}

.menu__title {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 75%;
  cursor: pointer;
  position: relative;
  @include gagalin();
  font-size: 2.85rem;
  color: $colorWhite;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 2rem 2.4vw;
  line-height: 1.2;

  @include adaptive(tablet) {
    padding: rem(38) rem(18);
  }

  @include adaptive(smart) {
    padding: 0.5rem;
    font-size: rem(40);
  }
  & .menu__title-text {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    width: 100%;
    height: 100%;
    padding: 6% 3% 2% 3%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    @include adaptive(tablet) {
      padding: 3.7% 2% 0 2%;
    }
    @include adaptive(smart) {
      padding: 7.5% 2% 3% 3%;
    }
  }
}

@each $num in (1, 2, 3) {
  .menu__title--#{$num} {
    background-image: url('../img/menu-item-#{$num}-bg.jpg');
  }
}

.menu__desc {
  width: 0;
  overflow: hidden;
}

.menu__desc-close {
  display: none;

}

.menu__item.open {
   width: auto;
   position: relative;

  .menu__title {
    color: $colorOrange;
    height: 100%;    
    width: 7.2vw;
    padding: rem(40) rem(20);

    @include adaptive(tablet) {
      width: 10.5vw;
    }
    @include adaptive(smart) {
      padding: 0.5rem;
      width: rem(50);
    }
  }

  .menu__desc {
    position: relative;
    @include ubuntu();
    line-height: 1.75;
    padding: 9% 5% 5% 5.5%;
    flex-basis: 100%;
    background-color: $colorTitleDarken;
    opacity: 0.93;
    color: $colorWhite;
    height: 100%;
    width: 540px;

    @include adaptive(tablet) {
      width: 525px;
      padding: 9.2% 2% 8% 5.5%
    }
  }
}

.menu__item.open .menu__desc-close {
  @include adaptive(smart) {
    display: block;
    font-size: 3rem;
    line-height: 0.5;
    z-index: 3;
    position: absolute;
    border: 0;
    top: 2.5%;
    right: 5%;
    height: 30px;
    width: 30px;
    color: $colorWhite;
    cursor: pointer;
    background: transparent;
  }


}