.map {
  background: url('/img/footer-map-bg.jpg') no-repeat;
  background-size: cover;
  min-height: 100%;
  @include adaptive(tablet) {
    background: url('/img/footer-map-bg-tablet.jpg') no-repeat;
  }
  @include adaptive(smart) {
    background: url('/img/footer-map-bg-smart.png') no-repeat;
  }
}